$primary-color: #1A1A1A; 
$grey-color: #7F7F7F;
$white-color: #ffffff;

$font-xl: 96px;
$font-lg: 82px;
$font-md: 64px;
$font-sm: 48px;
$font-xs: 24px;
$font-p: 18px;
$font-b: 14px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mitr", sans-serif;
    background: $white-color;
    color: $primary-color;
    min-height: 200vh;
    margin-bottom: 100px;
   
  }
.container {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}



.header {
    position: sticky;
    top: 0;
    padding: 24px 0;
    z-index: 10;
    background-color: $white-color;

    
    .logo{
        width: 60px;
    }


    div {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        font-size: $font-xs; 
        gap: 38px;
    }
    a{
        text-decoration: none;
        color: $primary-color;
    }
    .menu{
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}






.hero-section {
    margin-top: -112px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
       
    .container{
        display: flex;
        
        & > div:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center; 
            line-height: 1;
        }
        & > div:nth-of-type(2){
            margin-top: 140px;
        }
    }
    h1{
        font-size: $font-xl;
        font-weight: 600;
    }
    h2{
        font-size: $font-lg;
        font-weight: 600;
    }

    h3{
        font-size: $font-sm;
        color: $grey-color;
    }    
    & > div {
        & > div {
            gap: 1.1rem;
            line-height: 1.4;

            .console-log{
                display: flex;
                flex-direction: column;
                height: 126px;
                width: 660px;
                background-color: $primary-color;
                border-radius: 12px;

                & > div:first-child {
                    display: flex;
                    padding: 10px;
                    gap: 10px;
                }

                .dot{
                    width: 18px;
                    height: 18px;
                    border-radius: 9999px;
                } 
                
                .dot.red{
                    background-color: #F14C4D;
                }

                .dot.yellow{
                    background-color: #ff9114;
                }

                .dot.green{
                    background-color: #26C96F;
                }

                .subtitle{
                    display: flex;
                    color: $white-color;
                    padding-left: 24px;
                    height: 100%;
                    font-size: $font-xs;
                    padding-top: 16px;
                    & > p {
                        .font-orange{
                            color: #ff9114;
                        }
                        .font-yellow{
                            color: #FFE36D;
                        }
                        .font-green{
                            color:#26C96F
                        }
                    }
                }
            }
        }
    }

    .hero-social{
        display: flex;
        gap: 12px;
        & > a {
            & > div{
                border:3px solid $primary-color ;
                padding: 8px;
                border-radius: 9999px;
             }
             & > div{
                
                 &:hover {
                 background-color: $primary-color;
                 transition: 0.3s all ease ;
                 }
     
                 &:hover svg > path {
                     transition: 0.3s all ease ;
                     fill: #fff;
                 }
             }
        }
    } 
}






.profile-section{
    .container{
        h1{
            font-size: $font-md ;
        }
        .about-me{
            p{
                font-size: $font-xs;
            }
            p > span{
                margin-left: 100px;
            }
        }
        .skill{
            margin-top: 100px;
            & > div{
                display: flex;
                margin: 0px 86px ;
                justify-content: space-between;
            }
        }
        .border-skill { 
            
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 3px solid $primary-color;
                width: 170px;
                height: 170px;
                border-radius: 12px;
                box-shadow: 8px 8px $primary-color;
                overflow: hidden;


                &:hover{
                    background-color: $primary-color;
                    color: $white-color;
                } 

                &:hover svg {
                    transform: translateY(4px); 
                    filter: grayscale(0);
                }

                &:hover p {
                    transform: translateY(0px) ; 
                }

                & > svg {
                    transition: 300ms;
                    transform: translateY(20px);
                    filter: grayscale(100)
                }

                & > p{
                transition: 300ms;
                font-size: $font-xs;
                transform: translateY(100%);
                }
            }
        }

        .img-list {
            list-style: none;
            align-items: center;
            justify-content: center;
          
            & li {
              min-width: 250px;
              filter: grayscale(100);
              transition: 800ms all cubic-bezier(0.075, 0.82, 0.165, 1);

              &:hover {
                filter: grayscale(0);
                scale: 1.1;
              }
            }
          }
          
        .tools{
            margin-top: 100px;
        }

        .scroller {
        max-width: 1280px;
        margin-top: -25px;
        
        &__inner-wrapper {
            display: flex;
            gap: 4rem;
        }
        
        &__inner {
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
        
            & img {
            max-width: 100%;
            }
        }
        
        &[data-animated="true"] {
            overflow: hidden;
            --webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
            );
            mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
            );
        
            & .scroller__inner {
            flex-wrap: nowrap;
            animation: scroll var(--_animation-duratoin, 40s)
                var(--_animation-direction, forwards) linear infinite;
            }
        }
        
        &[data-duration="fast"] {
            --_animation-duratoin: 20s;
        }
        }
        
        @keyframes scroll {
        to {
            transform: translate(calc(-70% - 0.5rem));
        }
        }
    }
}







.projects-section{
    margin-top: 100px;
    .container{
        & > div:first-child{
            p{
                font-size: $font-xs;
            }
            p > span{
                margin-left: 100px;
            }
            h1{
                font-size: $font-md ;
            }
           
        }
        & > .projects-list{
            flex-direction: column;
            align-items: center;
            display: flex;
            gap: 48px;
            margin-top: 32px;
            margin-bottom: 14px;
        }
       
            & > div:nth-of-type(3){
                text-align: center;

                button{
                    font-family: "Mitr", sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 48px;
                    padding: 8px 10px;
                    border: solid 3px $primary-color;
                    border-radius: 12px;
                    color: $primary-color;
                    background-color: $white-color;
                }
        
                a:hover{
                    button{
                        background-color: $primary-color;
                        color: $white-color;
                    }
                    color: $white-color;
                } 

            }
    }
    .projects-list > div{
        display: flex;
        width: 842px;
        height: 344px;
        border: 3px solid $primary-color;
        align-items: center;
        border-radius: 12px;
        padding-left: 48px;
        box-shadow: 12px 12px $primary-color;
        overflow: hidden;
        
        
        .group-badge{
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .badge{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 4px;
            border-radius: 8px;
            border: 2px solid $primary-color;
            color: $primary-color;

        }

        .hover-img{
            transition: 300ms;
            filter: grayscale(100)
        }

        span{
                margin-left: 10px;
        }

        h4{
            font-size: 32px;
            font-weight: 600;
        }

        p{
            font-size: $font-p;
        }
        
        button{
            font-family: "Mitr", sans-serif;
            font-size: 20px;
            margin-top: 16px;
            width: 128px;
            height: 40px;
            border-radius: 8px;
            background-color: $primary-color;
            color: $white-color;
        }

        &:hover{
            
            button{
                background-color: $white-color;
                color: #1A1A1A;
            }
            .badge{
                border: 2px solid $white-color;
                color: $white-color;
    
            }
            .hover-img{
                scale: 1.15;
                filter: grayscale(0)
            }
            background-color: $primary-color;
            color: $white-color;

        } 
    }
}






.certs-section{
    margin-top: 100px;

    .container{
        & > div{

            h1{
                font-size: $font-md ;
            }
            
            p{
                font-size: $font-xs;
            }
            
            p > span{
                margin-left: 100px;
            }
        }
       
        .certs-list > div > div:hover{
            transition: 300ms;
            background-color: $primary-color;
            h5,h6{
                color: $white-color;
            }
            img{
                scale: 1.05;
                filter: grayscale(0);
            }
        }

        .certs-list{
            h5{
                font-size: $font-xs;
                font-weight: 500;
            }
            h6{
                font-size: 18px;
                font-weight: 400;
                color: $grey-color; 
            }
            img{
                transition: 300ms;
                filter: grayscale(100);
            }
            
            justify-content: center;
            text-align: center;
            
        }

        .certs-list > div{
            margin-top: 72px;
            margin-bottom: 14px;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            & > div{ 
                border: 3px solid $primary-color;
                border-radius: 0px 0px 12px 12px;
                box-shadow: 12px 12px $primary-color;
            }
            

        }
        .img-wrap{
            overflow: hidden;
        }

        .certs-name{
            padding: 26px 44px;
        }
        
    }
}






.contact-section{
    margin-top: 100px;

    .container{
        & > div {
            h1{
                font-size: $font-md ;
            }
            
            p{
                font-size: $font-xs;
            }
            
            p > span{
                margin-left: 100px;
            }
        }
    }
    .contact-list  {
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        margin-top: 32px;
        
        gap: 32px;
        
        & > div {
            max-width: 700px ;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            column-gap: 72px;
            row-gap: 24px;
            justify-content: center;

            .max-contact{
                display: flex;
                gap: 12px;
                align-items: center;
                width: 300px;

                & > div{
                    display: flex;
                }
            }
        }
    }
}


@media screen and (max-width: 1278px){
    .header{
        .logo{
            width: 50px;
        }
    }
    .hero-section {
        & > .container {
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem;
        }
    }
    .profile-section{
        margin-top: 100px;
        .container{
            h1{
                font-size: $font-sm;
            }
        }
    }
    
}
@media screen and (max-width: 1000px){
    .profile-section {

        .skill {

            .border-skill {
                margin: 0!important;
            }
        }
    }

    .projects-section {

        & > .container {

            .projects-list {

                & > div {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 750px){
    .header{
        .menu-list{
            a{
                display: none;
            }
            .menu{
                display: block;
            }
        }
        .menu-overlay{
            padding: 100px;

            .close-btn{
                right: -101%;
            }
        }
        .logo{
            display: flex;
            width: 35px;
        }
    }
    .hero-section {
        & > .container {

            & > div:first-child {
                width: 100%;
                align-items: center;

                h1, h2 {
                    font-size: $font-sm;
                }
                h3 {
                    font-size: 32px;
                }

                .console-log {
                    width: 100%;
                    height: 100%;
                    min-height: 120px;

                    & .subtitle > p > span {
                        font-size: 20px!important;
                    }
                }
            }

            & > div:last-child img {
                width: 100%;
            }
        }
    }

    .profile-section {

        .skill {

            .border-skill {
                margin: 0!important;
                flex-wrap: wrap;
                justify-content: center!important;
                gap: 1rem;
            }
        }
    }

    .projects-section {
        & > .container {


            .projects-list {

                & > div {
                    padding: 1rem;

                    & > div  {

                        width: 50%;

                        .group-badge{
                            flex-direction: column;
                            align-items: start;
                            margin-bottom: 1rem;

                            & > span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .hero-section {
        & > .container {
            
            & > div:first-child {
                width: 100%;
                align-items: center;
                h1, h2 {
                    font-size: $font-sm;
                }
                h3 {
                    font-size: 2rem;
                }

                .console-log {
                

                    & .subtitle > p > span {
                        font-size: 14px!important;
                    }
                }
            }

 
        }
    }

    .projects-section {
        & > .container {
            .projects-list {
                padding-right: 1rem;

                & > div {
                    height: 100%;
                    flex-direction: column-reverse;

                    & > div {
                        width: 100%;
                    }

                    & > div:last-child {
                        overflow: hidden;
                    }
                }

            }
        }
    }

    .certs-section .container .certs-list img {
        width: 100%!important;
    }
}

.menu-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $primary-color, $alpha: 0.95);
    inset: 0;
    z-index: 99;
    pointer-events: none;
    transform: translateX(100%);
    transition: 500ms ease-in-out;
    padding: 160px 216px;
  
    & > div {
      align-items: center;
      height: 100%;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      img{
        margin-left: 280px;
      }
  
      & > div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
  
        a {
          text-decoration: none;
  
          & > div {
            position: relative;
            width: max-content;
            color: $white-color;
  
            &:hover {
              color: $white-color;
            }
  
            &:hover::before {
              transform: scaleX(1);
              transform-origin: left;
            }
  
            &::before {
              content: "";
              width: 100%;
              height: 4px;
              border-radius: 14px;
              background-color: $white-color;
              position: absolute;
              bottom: 0;
              transform: scaleX(0);
              transform-origin: right;
              transition: 500ms transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
          }
        }
      }
    }
  
    .close-btn {
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 1;
      top: 5%;
      right: 200px;
      cursor: pointer;
    }
  
    &.opened {
      transform: translateX(0);
      pointer-events: all;
    }
  }
